Project presentation:

- Presentation + Demo: 9 mins
- Q/A: 3 mins
- A slide is required

Slide structure:

- Introduction (what, why...)
- Structure (py classes, modules, packages, database diagram)
- Demo
- Conclusion (done, not done...)